# кэш питона
\__pycache__

# кэш тестов питона
\.pytest_cache

# настройки VS Code
\.vscode

# полигон для тестирования каких либо участков кода
\examples

# черновик
DRAFT.md

# базы данных
*.sqlite

# ruff настройки
ruff.toml

# pyinstaller сборка
\build
\dist
*.ico
*.spec

# auto-py-to-exe сборка
\output

# логи приложения
*.log