# кэш питона
\__pycache__

# полигон для тестов
\tests

# черновик
DRAFT.md

# базы данных
*.sqlite

# ruff настройки
ruff.toml

# pyinstaller сборка
\build
\dist
*.ico
*.spec

# auto-py-to-exe сборка
\output